:root {
  /* Primary */
  --pdesaturated-red: hsl(0, 36%, 70%);
  --psoft-red: hsl(0, 93%, 68%);

  /* Neutral */
  --ndark-grayish-red: hsl(0, 6%, 24%);

  /* Gradient */
  --gradient-primary: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  --gradient-secondary: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  width: 100%;
  min-height: 100dvh;
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  background-image: var(--gradient-primary);
  color: var(--ndark-grayish-red);
}

header.header-mobile,
main section.content,
footer.footer-mobile {
  width: 100%;
  min-width: 280px;
  max-width: 375px;
  margin: 0 auto;
  padding: 1em;
}

header.header-mobile {
  min-height: 60px;
  display: flex;
  align-items: center;
}

header.header-mobile img {
  width: 120px;
}

main {
  flex: 1;
}

main figure img {
  width: 100%;
}

main header.header-desktop {
  display: none;
}

main section.content {
  margin: 1.5em auto 5em auto;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

main section.content h1 {
  font-size: 2.7em;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}

section.content h1 span {
  font-weight: 600;
  letter-spacing: 8px;
}

section.content h1 span:first-child {
  font-weight: 300;
  color: var(--pdesaturated-red);
}

section.content p {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 600;
  color: var(--pdesaturated-red);
}

section.content form {
  position: relative;
}

section.content form input {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0 7em 0 2em;
  font-size: 0.9em;
  border: 2px solid var(--pdesaturated-red);
  border-radius: 100px;
  outline: none;
}

section.content form input::placeholder {
  color: var(--pdesaturated-red);
}

section.content form.error input,
section.content form.error input::placeholder {
  border-color: var(--psoft-red);
  color: var(--psoft-red);
}

section.content form div.icon-error {
  height: 50px;
  position: absolute;
  top: 0;
  right: 68px;
  display: flex;
  align-items: center;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

form div.icon-error img {
  display: none;
}

form.error div.icon-error img {
  display: block;
}

section.content form button {
  width: 60px;
  height: 50px;
  background-image: var(--gradient-secondary);
  border: none;
  border-radius: 100px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  box-shadow: hsl(0, 36%, 70%) 0px 20px 30px -10px;
}

form button img {
  position: absolute;
}

form button img:first-child {
  transform: translateX(0%);
  transition: all 0.3s ease-in-out;
}

form button:hover img:first-child {
  transform: translateX(500%);
}

form button img:last-child {
  transform: translateX(-500%);
  transition: all 0.3s ease-in-out;
}

form button:hover img:last-child {
  transform: translateX(0%);
}

section.content form p#email-message {
  margin: 0.3em 2em;
  text-align: left;
  font-size: 0.8rem;
}

section.content form.error p#email-message {
  color: var(--psoft-red);
}

section.content form.success p#email-message {
  color: green;
}

main footer.footer-desktop {
  display: none;
}

footer p {
  text-align: center;
  color: var(--ndark-grayish-red);
}

footer p a {
  color: var(--pdesaturated-red);
}

@media (min-width: 600px) {
  header.header-mobile,
  main section.content,
  footer.footer-mobile {
    max-width: 440px;
  }

  main figure {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    aspect-ratio: 16 / 9;
    border-radius: 8px;
    overflow: hidden;
  }

  main figure img {
    object-position: top;
  }

  main section.content {
    gap: 2em;
  }
}

@media (min-width: 834px) {
  body {
    background-image: none;
  }

  header.header-mobile {
    display: none;
  }

  main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  main figure {
    max-width: max-content;
    height: 100dvh;
    margin: 0;
    aspect-ratio: unset;
    border-radius: 0px;
  }

  main figure img {
    height: 100%;
    object-fit: cover;
  }

  main section.container {
    width: 100%;
    height: 100dvh;
    background-image: url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  main header.header-desktop,
  main footer.footer-desktop {
    width: 100%;
    max-width: 440px;
    margin: 0 auto;
    padding: 1em;
  }

  main header.header-desktop {
    display: block;
    height: 80px;
    display: flex;
    align-items: end;
  }

  header.header-desktop img {
    width: 140px;
  }

  main section.content {
    margin: 0 auto;
    flex: 1;
  }

  main section.content h1 {
    margin-top: 1em;
    text-align: left;
    font-size: 3.5rem;
  }

  main section.content p {
    text-align: left;
    font-size: 0.9rem;
  }

  main footer.footer-desktop {
    display: block;
  }

  main footer.footer-desktop p {
    text-align: left;
  }

  footer.footer-mobile {
    display: none;
  }
}
